a:hover {
  text-decoration: none;
}
.container1{
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.a{
  width: 100%;
  height: 59.25vw;
  max-height: 520px;    
}
.abc{
	margin-top: 50px;
	text-align: center;
	color: #081c8e;
}
.nav-link{
    color: #fff!important;
    font-size: 18px;
}
.card-body{
	padding: 0.25rem;
}
.card-title {
	text-align: center;
    margin-bottom: .3rem;
    margin-top: .3rem;
}
.card-img-top{
	border-radius: 8px;
}
.bg-light {
    background-color: #f31d19!important;
}
.active{
	background-color: #fff!important;
	color: #f31d19!important;
}
.mheader{
    padding: 1px;
}
.mlogo{
    padding: 6.5px;
}
.mbt{
	background-color: #fff;
}
.home1{
    color: #fff;
}
.active > .home1{
    color: #f31d19;
}
.late{
  color: #2771ff;
}